body {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

h1, .h1 {
    font-size: 60px;
    line-height: 60px;
}

h2, .h2 {
    font-size: 36px;
    line-height: 36px;
}

h3, .h3 {
    font-size: 30px;
}

h4, .h4 {
    font-size: 20px;
    text-transform: uppercase;
}

h5, .h5 {

}

h6, .h6 {

}

.wrapper {
    width: 1220px;
    margin: 0 auto;
}

/*HEADER*/

.header {
    margin-top: 53px;
    position: relative;
    z-index: 2;
}

.header_white .header__link {
    color: white;
}

.header_white .header__link:after {
    background-color: white;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__menu li {
    display: inline;
    margin-left: 35px;
}

.header__menu li:first-of-type {
    margin-left: 0;
}

.header__link {
    text-transform: uppercase;
    font-size: 20px;
    position: relative;
}

.header__link:after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width .3s;
}

.header__link_active:after,
.header__link:hover:after {
    width: 100%;
    /*text-decoration: underline;*/
    /*border-bottom: 2px solid black;*/
}

.header__logotype {
    font-size: 26px;
    text-transform: uppercase;
    color: #444;
    display: flex;
    align-items: center;
}

.header__logotype span {
    font-weight: 600;
    color: #111;
}

.header__logotype img {
    margin-right: 14px;
    height: 59px;
}

/*HEADER END*/

/*FIRST SCREEN*/

.first {
    position: relative;
}

.first_offset {
    margin-top: -112px;
}

.first:before {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    background-image: url('../img/background.jpg');
    background-size: cover;
    right: 0;
    top: 0;
}

.first:after {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: rgba(104, 183, 56, .8);
    right: 0;
    top: 0;
}

.first__wrapper {
    position: relative;
    z-index: 1;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 130px;
}

.first__image {
    position: relative;
    left: -170px;
    top: 0;
}

.first__image img {
    max-height: 500px;
    position: relative;
    z-index: 3;
}

.first__description {
    padding: 0 80px;
}

.first__text {
    font-size: 20px;
    margin-top: 40px;
    text-transform: uppercase;
}

.first__button {
    margin-top: 52px;
}
.first .circle:nth-of-type(1) {
    top: 50px;
    left: 140px;
}
.first .circle:nth-of-type(2) {
    top: 100px;
    left: 110px;
}
.first .circle:nth-of-type(3) {
    top: unset;
    left: unset;
    bottom: 86px;
    right: 100px;
}
/*END FIRST SCREEN*/

/*BUTTON*/
.button {
    background-color: #68B738;
    height: 54px;
    display: inline-flex;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    align-items: center;
    padding: 0 26px;
    cursor: pointer;
    transition: background-color .3s;
}

.button:hover {
    background-color: #549c29;
}
/*END BUTTON*/

/*CIRCLE*/
.circle {
    background-color: #FBC105;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.circle_small {
    width: 20px;
    height: 20px;
}
.circle_large {
    width: 230px;
    height: 230px;
}
/*END CIRCLE*/

/*CARDS*/
.cards {
    margin-top: 82px;
    margin-bottom: 71px;
}

.cards__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
}
/*END CARDS*/

/*CARD*/
.card {
    background-color: #F2F2F2;
    padding: 47px 52px 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__title {
    text-transform: uppercase;
}

.card__link {
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-top: 23px;
}

.card__link:after {
    content: "";
    display: block;
    width: 24px;
    height: 10px;
    background-image: url("../img/icon-arrow.svg");
    background-size: cover;
    margin-left: 28px;
}

.card:hover .card__link:after {
    animation: arrowMoves .5s 0s infinite alternate linear;
}

.card__icon {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 62px;
}

.card__icon:before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #68B738;
    position: relative;
}

.card__icon img {
    position: absolute;
}

.card__header {
    display: flex;
    align-items: center;
}

.card__text {
    margin-top: 39px;
}
/*END CARD*/

@keyframes arrowMoves {
    from {
        margin-left: 28px;
    }
    to {
        margin-left: 48px;
    }
}
/*BLOCKS*/

.blocks__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 80px;
    margin-top: 72px;
    margin-bottom: 72px;
    counter-reset: number-counter 0;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.block__icon {
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #68B738;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block__text {
    position: relative;
    z-index: 2;
    margin-top: 30px;
    color: #444;
}

.block__number{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}
.block__number:before {
    counter-increment: number-counter;
    content: counter(number-counter);
    position: absolute;
    font-size: 280px;
    line-height: 201px;
    color: #F2F2F2;
    top: 0;
    right: 0;
}

/*Example*/
.example {
    margin-top: 130px;
}

.example__title {
    margin-bottom: 76px;
}

.example__background {
    background-color: #F2F2F2;
}

.example__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 70px 0 75px;
}

.example__info p {
    color: #444;
}

.example__params {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 162px 162px;
    grid-gap: 32px 42px;
}

.example__param {
    border-radius: 3px;
    border: 1px solid #CDCDCD;
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.example__value {
    font-size: 30px;
    text-transform: uppercase;
}

.example__key {
    position: absolute;
    bottom: -8px;
    font-size: 14px;
    text-transform: lowercase;
    background-color: #F2F2F2;
    padding: 0 9px;
    font-family: Arial, sans-serif;
    color: #444;
}

.example__money {
    margin-top: 55px;
    display: grid;
    grid-template-columns: 230px auto;
    grid-gap: 10px;
}

.example__column1,
.example__column2 {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
}

.example__slider {
    position: relative;
}

.example__image {
    position: relative;
    height: 550px;
    margin-top: -280px;
}

.example__after,
.example__before {
    position: absolute;
    top: 0;
    left: 0;
}

.example__before {
    overflow: hidden;
    width: 100%;
}

.example__range input {
    display: none;
}

.example__range {
    display: flex;
    align-items: center;
}

.example__label {
    text-transform: uppercase;
    position: relative;
}

.example__label:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #B8B8B8;
}

/*input range*/
.input-range {
    margin: 0 20px;
    width: 100%;
    height: 6px;
    border-radius: 6px;
    background-color: #DCDCDC;
    position: relative;
}

.input-range__circle {
    background-color: #fff;
    width: 34px;
    height: 34px;
    border: 1px solid #CDCDCD;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
    position: absolute;
    left: 50%;
    top: -16px;
    cursor: pointer;
}

.input-range__circle:after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #68B738;
    border-radius: 50%;
}

/*CONTACTS*/

.contacts {
    display: grid;
}
.contacts__info {
    position: relative; 
    background-color: #FFFFFF;
    z-index: 1;
    height: 80px;
    width: 420px;
    border-radius: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
    left: 100px;
    top: 100px;
    align-content: center;
    padding: 62px 76px;
}

  
.contacts__title {
    height: 80px;
    width: 163px; 
}
.contacts__address {
    height: 80px;
    width: 163px;   

}
.contacts__map {
    position: relative;
    z-index: 0;
    height: 400px;   
}


/*footer*/
.footer {
    height: 150px;
    display: flex;
    align-items: center;
}

.footer__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer__logotype {
    font-size: 26px;
    text-transform: uppercase;
    color: #444;
    display: flex;
    align-items: center;
}

.footer__logotype span {
    font-weight: 600;
    color: #111;
}

.footer__socials {
    justify-self: center;
}

.footer__socials a {
   margin-right: 25px;
}

.footer__socials a:last-child {
   margin-right: 0;
}

.footer__developer {
    justify-self: end;
}

.footer__html {
    font-family: Arial, sans-serif;
    color: #444;
}

.footer__html img {
    margin-left: 22px;
}
